.modulos {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: white;

    .color-0 {
    background-color: #6b21a8; // purple-700
    }

    .color-1 {
    background-color: #be185d; // pink-700
    }

    .color-2 {
    background-color: #4338ca; // indigo-700
    }

    .color-3 {
    background-color: #be123c; // rose-700
    }

    .color-4 {
        background-color: #1e3a8a; // blue-800
    }

    .color-5 {
        background-color: #1d4ed8; // blue-700
    }
    .color-6 {
        background-color: #0f172a; // slate-900
    }
    .color-7 {
        background-color: #0f172a; // slate-900
    }
    .color-8 {
        background-color: #0f172a; // slate-900
    }
}
